# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Indentation settings for all files
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Match specific file types
[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.json]
indent_size = 2

[*.yml,*.yaml]
indent_size = 2

# Specific configuration for JavaScript, TypeScript, and related files
[*.js,*.jsx,*.ts,*.tsx,*.mjs]
indent_size = 2

# Specific configuration for NestJS configuration files
[nest-cli.json, *.config.js]
indent_size = 2

# Specific configuration for React component files
[*.jsx,*.tsx]
indent_size = 2
